services:
  mssql:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver-test
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: "P@ssw0rd123!"
      MSSQL_PID: "Developer"
    ports:
      - "127.0.0.1:1433:1433"
    volumes:
      - mssql_data:/var/opt/mssql

  cloudbeaver:
    image: dbeaver/cloudbeaver:latest
    container_name: cloudbeaver
    ports:
      - "127.0.0.1:8978:8978"
    volumes:
      - cloudbeaver_data:/opt/cloudbeaver/workspace
      - ./cloudbeaver-config/data-sources.json:/opt/cloudbeaver/workspace/GlobalConfiguration/.dbeaver/data-sources.json:ro
    depends_on:
      - mssql

volumes:
  mssql_data:
  cloudbeaver_data:
